

extends partials/layout_user

block content
	- business = typeof(bdata) != 'undefined' ? bdata : { }
	.container-fluid
		// Page Heading
		nav(aria-label='breadcrumb').p-0
			
			ol.breadcrumb.bg-transparent.p-0
				li.breadcrumb-item
					i.fas.fa-home.text-white-300
				li.breadcrumb-item
					a(href='/business/list') Businesses
				li.breadcrumb-item.active(aria-current='page') #{business.name}

		.row
			// Earnings (Monthly) Card Example
			.col-xl-3.col-md-6.mb-4
				.card.border-left-primary.shadow.h-100.py-2
					.card-body
						.row.no-gutters.align-items-center
							.col.mr-2
								.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Operating Cameras
								.h5.mb-0.font-weight-bold.text-gray-800 21
							.col-auto
								i.fas.fa-video.fa-2x.text-gray-300
			// Earnings (Monthly) Card Example
			.col-xl-3.col-md-6.mb-4
				.card.border-left-success.shadow.h-100.py-2
					.card-body
						.row.no-gutters.align-items-center
							.col.mr-2
								.text-xs.font-weight-bold.text-success.text-uppercase.mb-1 In Place Badges
								.h5.mb-0.font-weight-bold.text-gray-800 125
							.col-auto
								i.fas.fa-id-badge.fa-2x.text-gray-300
			
			// Earnings (Monthly) Card Example
			.col-xl-3.col-md-6.mb-4
				.card.border-left-danger.shadow.h-100.py-2
					.card-body
						.row.no-gutters.align-items-center
							.col.mr-2
								.text-xs.font-weight-bold.text-danger.text-uppercase.mb-1 Pending Alerts
								.h5.mb-0.font-weight-bold.text-gray-800 25
							.col-auto
								i.fas.fa-exclamation-triangle.fa-2x.text-gray-300
			
			// Pending Requests Card Example
			.col-xl-3.col-md-6.mb-4
				.card.border-left-warning.shadow.h-100.py-2
					.card-body
						.row.no-gutters.align-items-center
							.col.mr-2
								.text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 Masks Alerts
								.h5.mb-0.font-weight-bold.text-gray-800 10
							.col-auto
								i.fas.fa-mask.fa-2x.text-gray-300
		.row
			.col-lg-7
				// Basic Card Example
				.card.shadow.mb-4
					.card-header.py-3
						h6.m-0.font-weight-bold.text-primary 
							i.fas.fa-fw.fa-info-circle
							| Realtime Monitoring
					.card-body.p-1
						img(src="/img/example_workers_usine.gif",width="100%")
			.col-lg-5
				// Basic Card Example
				.card.shadow.mb-4
					.card-header.py-3
						h6.m-0.font-weight-bold.text-danger
							i.fas.fa-fw.fa-info-circle
							| Latest Alerts
					.card-body.p-2
						.small
							| > 13h00: Social distancing (Badge ID # 025-010)
							br
							| > 12h45: Social distancing (Badge ID # 061-043)
							br
							| > 11h26: Social distancing (Badge ID # 004-156)
							br
							| > 10h55: Mask (Zone #5)
							br
							| > 09h14: Social distancing (Badge ID # 012-101)
							br
							| > 08h21: Temperature (Zone #1)
						//- ul.list-group.list-group-flush
						//- 	li.list-group-item.list-group-item-action.small
						//- 		| 11h26: Social distancing (Badge ID # 004-156 )
						//- 	li.list-group-item.list-group-item-action.small
						//- 		| 10h55: Mask (Zone # 5 - Plant Dorval )
						//- 	li.list-group-item.list-group-item-action.small
						//- 		| 09h14: Social distancing (Badge ID # 012-101 )
						//- 	li.list-group-item.list-group-item-action.small
						//- 		| 08h21: Temperature (Zone # 1 - QC HQ Entrance )
	// display form errors in a custom modal window //

	include modals/form-errors
	include modals/alert

block scripts
	//script(src='/js/views/create_business.js')
	//script(src='/js/controllers/businessController.js')
	//script(src='/js/form-validators/businessValidator.js')